<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	th:fragment="page">
<head>

<!-- LAYOUT TEACHER -->

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Dashboard" />
<meta name="keyword"
	content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- TITULO DINAMICO LAYOUT-->
<title th:include="this :: title_page">Layout</title>


<link href="assets/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"
	th:href="@{/font-awesome/css/font-awesome.css}" />
<link href="assets/css/zabuto_calendar.css" rel="stylesheet"
	type="text/css" th:href="@{/css/zabuto_calendar.css}" />
<link href="assets/js/gritter/css/jquery.gritter.css" rel="stylesheet"
	type="text/css" th:href="@{/js/gritter/css/jquery.gritter.css}" />
<link href="assets/css/style.css" rel="stylesheet"
	th:href="@{/css/style.css}" />
<link href="assets/css/style-responsive.css" rel="stylesheet"
	th:href="@{/css/style-responsive.css}" />


	

</head>
<body>	
	<section id="container">
		<!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
		<!--header start-->
		<header class="header black-bg">
			<div class="sidebar-toggle-box">
				<div class="fa fa-bars tooltips" data-placement="right"
					data-original-title="Toggle Navigation"></div>
			</div>
			<!--logo start-->
			<a href="index.html" class="logo"><b th:text="#{app.profile}">Escuela</b></a>
			<!--logo end-->
			<div class="nav notify-row" id="top_menu">
				
			</div>
			
			<div class="top-menu" sec:authorize="isFullyAuthenticated()">
				<ul class="nav pull-right top-menu">
					<li>
						<form action="#" id="frmLogout" th:action="@{../logout}" method="post">
							<!-- <button type="submit" class="logout" >Logout</button>  --> 
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						</form>
						<a class="logout" onclick="document.getElementById('frmLogout').submit();" href="#" th:text="#{app.logout}">Logout</a>
					</li>
				</ul>
			</div>
		</header>
		<!--header end-->

		<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
		<!--sidebar start-->
		<aside>
			<div id="sidebar" class="nav-collapse ">
				<!-- sidebar menu start-->
				<ul class="sidebar-menu" id="nav-accordion">
					<!-- BEGIN LOGO Y NOMBRE -->
					<p class="centered">
						<a href="profile.html"><img sec:authorize="isAuthenticated()" th:src="@{/img/ui-sam.jpg}"
							class="img-circle" width="60" /></a>
					</p>	
					<h5 class="centered" sec:authorize="isAuthenticated()" sec:authentication="name">Escuela Zona 1</h5>
					<!-- END LOGO Y NOMBRE -->
					
					<div id="siderbar-containt-menu" th:include="/student/menu_student :: menu-fragment" >
						<li class="mt"><a class="active" href="index.html"> <i
								class="fa fa-home"></i> <span>Menú Inicio</span>
						</a></li>
	
						<li class="mt"><a href="#"> <i class="fa fa-users"></i> <span>Profesores</span>
						</a></li>
	
						<li class="mt"><a href="#"> <i class="fa fa-book"></i> <span>Materias</span>
						</a></li>
					</div>
					
				</ul>
				<!-- sidebar menu end-->
			</div>
		</aside>
		<!--sidebar end-->

		<!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
		<!--main content start-->
		
		<section id="main-content">
			<section class="wrapper" th:include="this :: content">
			</section>
		</section>

		<!--main content end-->
		<!--footer start-->
		<footer class="site-footer">
			<div class="text-center" th:text="#{app.profile}">
				Escuela Zona 1 
				<a href="index.html#" class="go-top"> <i
					class="fa fa-angle-up"></i>
				</a>
			</div>
		</footer>
		<!--footer end-->
	</section>

	<!-- js placed at the end of the document so the pages load faster -->
	<script th:src="@{/js/jquery.js}" ></script>
	<script th:src="@{/js/jquery-1.8.3.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.dcjqaccordion.2.7.js}" class="include"
		type="text/javascript"></script>
	<script th:src="@{/js/jquery.scrollTo.min.js}"></script>
	<script th:src="@{/js/jquery.nicescroll.js}" type="text/javascript"></script>
	<script th:src="@{/js/jquery.sparkline.js}"></script>


	<!--common script for all pages-->
	<script th:src="@{/js/common-scripts.js}"></script>

	<script th:src="@{/js/gritter/js/jquery.gritter.js}"
		type="text/javascript"></script>
	<script th:src="@{/js/gritter-conf.js}" type="text/javascript"></script>

	<!--script for this page-->
	<script th:src="@{/js/sparkline-chart.js}"></script>
	<script th:src="@{/js/zabuto_calendar.js}"></script>

	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							var unique_id = $.gritter
									.add({
										// (string | mandatory) the heading of the notification
										title : 'Bienvenido',
										// (string | mandatory) the text inside the notification
										text : 'Aqui encontraras todas las novedades de nuestra escuela',
										// (string | optional) the image to display on the left
										image : '../img/ui-sam.jpg',
										// (bool | optional) if you want it to fade out on its own or just sit there
										sticky : true,
										// (int | optional) the time you want it to be alive for before fading out
										time : '',
										// (string | optional) the class name you want to apply to that specific message
										class_name : 'my-sticky-class'
									});
																					
							return false;
						});
	</script>
	
	<script type="application/javascript">
		//obtener titulo de pagina y activar menus
        $(window).load(function() {
        	try{
        		//activando menus
        		//alert(document.title);
        		var menu_page = document.title;
        		menu_page = "a[id=menu-" + menu_page + "]";
        		menu_page = menu_page.toLowerCase();        		
        		//$("a[id=menu-login]").addClass("active");
        		$(menu_page).addClass("active");
        		
        	}catch(ex){
        		alert('Error activando menus:' + ex);
        	}        	
        });
    </script>
    
    <section th:include="this :: scripts_page">
    	<!-- TODOS LOS SCRIPTS DE LAS PAGINAS ADICIONALES -->    	
    </section>
	
</body>
</html>