<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="/student/layout_student :: page">
<head>
<title th:fragment="title_page">Teacher</title>
</head>
<body>

	<!-- TO CONTENT PAGE -->
	<section class="wrapper" th:fragment="content">
		<div class="row">
			<div>
				<h1>Sorry, We are working to present STUDENT's site!!</h1>
			</div>
		</div>
		<!--/row -->
	</section>
	
	<section th:fragment="scripts_page">
		<!-- SCRIPTS TEACHER -->
	</section>
	
</body>
</html>