<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
<title th:fragment="title_page">Login</title>
</head>
<body>

	<!-- TO MENU PAGE -->
	<div id="siderbar-containt-menu" th:fragment="menu_content">
		<li class="mt"><a class="active" href="index.html"> <i
				class="fa fa-home"></i> <span>Login</span>
		</a></li>

		<li class="mt"><a href="#"> <i class="fa fa-users"></i>Home<span></span>
		</a></li>

		<li class="mt"><a href="#"> <i class="fa fa-book"></i> <span>Noticias</span>
		</a></li>
	</div>

	<!-- TO CONTENT PAGE -->
	<section class="wrapper" th:fragment="content">
		<div class="row">
			<div>
				<h1>LOGIN</h1>
			</div>
		</div>
		<!--/row -->
	</section>
</body>
</html>