<!-- FRAGEMENT MENU HOME -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<!-- ######## TO MENU PAGE BEGIN ######## -->
	<div id="siderbar-containt-menu" th:fragment="menu-fragment">
		<!-- agregar id=menu + title pagina sin espacios -->
		<li class="mt"><a id="menu-home" class=""
			href="#" th:href="@{/home}" > <i class="fa fa-home"></i> <span
				th:text="#{home.menu.home}">Home</span>
		</a></li>

		<li class="mt"><a id="menu-noticias" href="#" th:href="@{/noticias}"> <i
				class="fa fa-bell"></i> <span th:text="#{noticias.menu.noticias}">Noticias</span>
		</a></li>

		<li class="mt"><a id="menu-login" href="#" th:href="@{/login}"> <i
				class="fa fa-book"></i> <span th:text="#{home.menu.login}">Login</span>
		</a></li>				
	</div>

</body>

</html>