<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
<title th:fragment="title_page">Noticias</title>
</head>
<body>

	<!-- TO CONTENT PAGE -->
	<section class="wrapper" th:fragment="content">
		<div class="row">
						
			<br/><br/>			
			<div class="col-md-12 col-sm-12 mb">
				<!-- REVENUE PANEL -->
				<div class="darkblue-panel pn">
					<div class="darkblue-header">
						<h5>Valores</h5>
					</div>
					<p class="mt" style="text-align: justify;">
						<b>Los valores y la educación están ligados, y son escenciales
							para el cumplimiento de la misión y visión de la Secretaría de
							Educación, establecer de manera interna y externa el compromiso
							de todos los actores del sector educativo de conocerlos,
							difundirlos, apropiarse de ellos, asumirlos y llevarlos a la
							praxis en el quehacer diario dentro y fuera de las instituciones
							educativas.</b>
					</p>
				</div>
			</div>
			
			
		</div>
		
		<!--/row -->
	</section>
</body>
</html>