<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
<title th:fragment="title_page">Noticias</title>



</head>
<body>

	<!-- TO CONTENT PAGE -->
	<section class="wrapper" th:fragment="content">


		<div class="row">

			<br /> <br />
			<div class="col-md-12 col-sm-12 mb">
				<!-- REVENUE PANEL -->
				<div class="darkblue-panel pn" style="height: auto;">
					<div class="darkblue-header">
						<h5>Valores</h5>
					</div>

					<table id="grid-data"
						class="table table-condensed table-hover table-striped">
						<thead>
							<tr>
								<th data-column-id="noticiaId" data-type="numeric"
									data-identifier="true">ID</th>
								<th data-column-id="titulo">Titulo</th>
								<th data-column-id="contenidoCorto">Contenido</th>
								<th data-column-id="fechaVigenciaInicio" data-order="desc">Fecha
									inicio</th>
								<th data-column-id="fechaVigenciaFin">Fecha Fin</th>
							</tr>
						</thead>
					</table>


				</div>
			</div>


		</div>
		<!--/row -->
	</section>

	<section th:fragment="scripts_page">
		<script th:src="@{/js/jquery.bootgrid.js}"></script>
		<script th:src="@{/js/jquery.bootgrid.fa.js}"></script>

		<script type="application/javascript">
															
		//obtener titulo de pagina y activar menus
        $(window).load(function() {
        	//alert('corriendo la tabla grid');
        	try{
        		$("#grid-data").bootgrid({
        		    ajax: true,
        		    post: function ()
        		    {
        		        /* To accumulate custom parameter with the request object */
        		        return {
        		            id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
        		        };
        		    },
        		    url: "/getnoticias",
        		    formatters: {
        		        "link": function(column, row)
        		        {
        		            return "";
        		        }
        		    }
        		});        		
        	}catch(ex){
        		alert('Error activando menus:' + ex);
        	}        	
        });    				
		
		
		</script>
	</section>

</body>
</html>