<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
<title th:fragment="title_page" th:text="#{noticias.titulo}">Noticias</title>



</head>
<body>

	<!-- TO CONTENT PAGE -->
	<section class="wrapper" th:fragment="content">


		<div class="row">

			<br /> <br />
			<div class="col-md-12 col-sm-12 mb">
				<!-- REVENUE PANEL -->
				<div class="darkblue-panel pn" style="height: auto;">
					<div class="darkblue-header">
						<h5 th:text="#{noticias.titulo}">Noticias</h5>
					</div>

					<table id="grid-data"
						class="table table-condensed table-hover table-striped">
						<thead>
							<tr>
								<th data-column-id="noticiaId" data-visible="false"  data-type="numeric"
										data-identifier="true" th:text="#{noticias.grid.id}" data-sortable="false">ID</th>
								<th data-column-id="titulo" data-formatter="link" th:text="#{noticias.grid.titulo}" >Titulo</th>
								<th data-column-id="contenidoCorto" th:text="#{noticias.grid.contenido}" >Contenido</th>
								<th data-column-id="fechaVigenciaInicio" data-order="desc" th:text="#{noticias.grid.fecha.inicio}">Fecha
									inicio</th>
								<th data-column-id="fechaVigenciaFin" data-align="center" data-visible="false"  th:text="#{noticias.grid.fecha.fin}" data-sortable="false">Fecha Fin</th>								
							</tr>
						</thead>
					</table>

				<a class="btn btn-danger btn-xs float-rigth mx-2" th:href="@{/noticias(format=pdf)}">PDF</a>
				<a class="btn btn-success btn-xs float-rigth" th:href="@{/noticias(format=xlsx)}">EXCELL</a>
				</div>
			</div>


		</div>
		<!--/row -->
	</section>

	<section th:fragment="scripts_page">
		<!-- SCRIPTS NOTICIAS -->
		<script th:src="@{/js/jquery.bootgrid.js}"></script>
		<script th:src="@{/js/jquery.bootgrid.fa.js}"></script>
		<script th:src="@{/js/myjs/noticias.js}"></script>
	</section>

</body>
</html>